[Desktop Entry]
Type=Application
Name=ptyxis-tc
Comment=Terminal with automatic hostname tab colors
Exec=/opt/ptyxis-tab-colors-50.1/bin/ptyxis-tab-colors
Icon=ptyxis-tc-blue-border-gray3
Terminal=false
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=true
StartupWMClass=org.gnome.Ptyxis.TabColors
